body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: center;
    width: 510px;
    flex-wrap: wrap;
    flex-direction: row;
    height: 500px;
    border: solid 2px aqua;
    align-items: center;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: aqua;
    text-align: center;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#one, #four, #seven {
    border-left: solid 20px black;
    border-right: solid 20px black
}
