body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: center;
    width: 600px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    height: 500px;
    border: solid 2px aqua;
    align-items: center;
}

.cell {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    background-color: aqua;
}